
.react-trello-board {

    height: 900px !important;
    position: relative;
}
.react-trello-board > div {
    padding-top: 100px;
}
.react-trello-board > .smooth-dnd-container {
    position: absolute;
    left: 10px;
    top: -100px;
    z-index: 99;
    border: 2px dashed white;

}

.kanban-wrapper {
    height: 900px;
    padding: 50px 10px;
}