
.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px; 
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}


.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1sg7btz {
    font-size: 14px;
    font-weight: 500;
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

/*! CSS Used from: Embedded */
.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

/*! CSS Used from: Embedded */
.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-16bmb25 {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 31, 67);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
    border-radius: 8px;
    padding: 32px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-8l13bg {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
}

.css-8l13bg> :not(style)+ :not(style) {
    margin: 16px 0px 0px;
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

.css-1sg7btz {
    font-size: 14px;
    font-weight: 500;
}

.css-13rcduy {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.css-1nolsso {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
    border: 1px solid rgb(211, 230, 243);
}

.css-1nolsso:hover {
    text-decoration: none;
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1nolsso:hover {
        background-color: transparent;
    }
}

.css-1nolsso .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

.css-1nolsso:hover {
    background-color: transparent;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-mgvi1h {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(39, 206, 136);
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
}

.css-mgvi1h:hover {
    text-decoration: none;
    background-color: rgb(34, 154, 22);
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 5px -1px, rgba(95, 116, 141, 0.04) 0px 4px 10px 0px, rgba(95, 116, 141, 0.08) 0px 1px 22px 0px;
}

@media (hover: none) {
    .css-mgvi1h:hover {
        background-color: rgb(39, 206, 136);
    }
}

.css-mgvi1h:active {
    box-shadow: rgba(95, 116, 141, 0.03) 0px 5px 10px -3px, rgba(95, 116, 141, 0.04) 0px 8px 18px 1px, rgba(95, 116, 141, 0.08) 0px 3px 33px 2px;
}

.css-mgvi1h.MuiButton-containedSuccess {
    color: white;
}

.css-mgvi1h.MuiButton-containedSuccess:hover {
    box-shadow: none;
    background-color: rgb(39, 206, 136);
}

.css-mgvi1h .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-16bmb25 {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 31, 67);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
    border-radius: 8px;
    padding: 32px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-8l13bg {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
}

.css-8l13bg> :not(style)+ :not(style) {
    margin: 16px 0px 0px;
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1sg7btz {
    font-size: 14px;
    font-weight: 500;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-13rcduy {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.css-1nolsso {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
    border: 1px solid rgb(211, 230, 243);
}

.css-1nolsso:hover {
    text-decoration: none;
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1nolsso:hover {
        background-color: transparent;
    }
}

.css-1nolsso .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

.css-1nolsso:hover {
    background-color: transparent;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-mgvi1h {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(39, 206, 136);
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
}

.css-mgvi1h:hover {
    text-decoration: none;
    background-color: rgb(34, 154, 22);
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 5px -1px, rgba(95, 116, 141, 0.04) 0px 4px 10px 0px, rgba(95, 116, 141, 0.08) 0px 1px 22px 0px;
}

@media (hover: none) {
    .css-mgvi1h:hover {
        background-color: rgb(39, 206, 136);
    }
}

.css-mgvi1h:active {
    box-shadow: rgba(95, 116, 141, 0.03) 0px 5px 10px -3px, rgba(95, 116, 141, 0.04) 0px 8px 18px 1px, rgba(95, 116, 141, 0.08) 0px 3px 33px 2px;
}

.css-mgvi1h.MuiButton-containedSuccess {
    color: white;
}

.css-mgvi1h.MuiButton-containedSuccess:hover {
    box-shadow: none;
    background-color: rgb(39, 206, 136);
}

.css-mgvi1h .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

.css-mgvi1h {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(39, 206, 136);
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
}

.css-mgvi1h:hover {
    text-decoration: none;
    background-color: rgb(34, 154, 22);
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 5px -1px, rgba(95, 116, 141, 0.04) 0px 4px 10px 0px, rgba(95, 116, 141, 0.08) 0px 1px 22px 0px;
}

@media (hover: none) {
    .css-mgvi1h:hover {
        background-color: rgb(39, 206, 136);
    }
}

.css-mgvi1h:active {
    box-shadow: rgba(95, 116, 141, 0.03) 0px 5px 10px -3px, rgba(95, 116, 141, 0.04) 0px 8px 18px 1px, rgba(95, 116, 141, 0.08) 0px 3px 33px 2px;
}

.css-mgvi1h.MuiButton-containedSuccess {
    color: white;
}

.css-mgvi1h.MuiButton-containedSuccess:hover {
    box-shadow: none;
    background-color: rgb(39, 206, 136);
}

.css-mgvi1h .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-1nolsso {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
    border: 1px solid rgb(211, 230, 243);
}

.css-1nolsso:hover {
    text-decoration: none;
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1nolsso:hover {
        background-color: transparent;
    }
}

.css-1nolsso .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

.css-1nolsso:hover {
    background-color: transparent;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-16bmb25 {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 31, 67);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
    border-radius: 8px;
    padding: 32px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-8l13bg {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
}

.css-8l13bg> :not(style)+ :not(style) {
    margin: 16px 0px 0px;
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1sg7btz {
    font-size: 14px;
    font-weight: 500;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-13rcduy {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.css-1nolsso {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
    border: 1px solid rgb(211, 230, 243);
}

.css-1nolsso:hover {
    text-decoration: none;
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1nolsso:hover {
        background-color: transparent;
    }
}

.css-1nolsso .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

.css-1nolsso:hover {
    background-color: transparent;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-mgvi1h {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(39, 206, 136);
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
}

.css-mgvi1h:hover {
    text-decoration: none;
    background-color: rgb(34, 154, 22);
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 5px -1px, rgba(95, 116, 141, 0.04) 0px 4px 10px 0px, rgba(95, 116, 141, 0.08) 0px 1px 22px 0px;
}

@media (hover: none) {
    .css-mgvi1h:hover {
        background-color: rgb(39, 206, 136);
    }
}

.css-mgvi1h:active {
    box-shadow: rgba(95, 116, 141, 0.03) 0px 5px 10px -3px, rgba(95, 116, 141, 0.04) 0px 8px 18px 1px, rgba(95, 116, 141, 0.08) 0px 3px 33px 2px;
}

.css-mgvi1h.MuiButton-containedSuccess {
    color: white;
}

.css-mgvi1h.MuiButton-containedSuccess:hover {
    box-shadow: none;
    background-color: rgb(39, 206, 136);
}

.css-mgvi1h .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

/*! CSS Used from: Embedded */
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

/*! CSS Used from: Embedded */
*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-bbh01c {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-16bmb25 {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 31, 67);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
    border-radius: 8px;
    padding: 32px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-8l13bg {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
}

.css-8l13bg> :not(style)+ :not(style) {
    margin: 16px 0px 0px;
}

.css-2ad1xo {
    font-size: 24px;
    font-weight: 600;
}

.css-42oadk {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
}

.css-1sg7btz {
    font-size: 14px;
    font-weight: 500;
}

.css-s2j2sd {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(211, 230, 243);
}

.css-13rcduy {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.css-1nolsso {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
    border: 1px solid rgb(211, 230, 243);
}

.css-1nolsso:hover {
    text-decoration: none;
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1nolsso:hover {
        background-color: transparent;
    }
}

.css-1nolsso .MuiButton-startIcon .MuiSvgIcon-root {
    font-size: 16px;
}

.css-1nolsso:hover {
    background-color: transparent;
}

.css-1l6c7y9 {
    display: inherit;
    margin-right: 8px;
    margin-left: -4px;
}

.css-1l6c7y9> :nth-of-type(1) {
    font-size: 20px;
}

.css-mgvi1h {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    line-height: 1.75;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(39, 206, 136);
    text-transform: none;
    border-radius: 4px;
    color: inherit;
    box-shadow: none;
    padding: 0.6rem 1.5rem;
    font-size: 12px;
    font-weight: 600;
    min-width: 84px;
}

.css-mgvi1h:hover {
    text-decoration: none;
    background-color: rgb(34, 154, 22);
    box-shadow: rgba(95, 116, 141, 0.03) 0px 2px 5px -1px, rgba(95, 116, 141, 0.04) 0px 4px 10px 0px, rgba(95, 116, 141, 0.08) 0px 1px 22px 0px;
}

