
/*! CSS Used from: Embedded */
.css-70qvj9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*! CSS Used from: Embedded */
.css-i4bv87-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

/*! CSS Used from: Embedded */
.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}

.css-1ln8k10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(18, 31, 67, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1ln8k10:hover {
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1ln8k10:hover {
        background-color: transparent;
    }
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}

.css-1ln8k10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(18, 31, 67, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1ln8k10:hover {
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1ln8k10:hover {
        background-color: transparent;
    }
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1l4w6pd {
    display: flex;
    justify-content: center;
}

.css-ws1fna .MuiBadge-badge {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(229, 243, 253);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px;
}

.css-2qc4o9 {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    bottom: 14%;
    right: 14%;
    transform: scale(1) translate(50%, 50%);
    transform-origin: 100% 100%;
}

.css-1ln8k10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(18, 31, 67, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1ln8k10:hover {
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1ln8k10:hover {
        background-color: transparent;
    }
}

.css-1yuhvjn {
    margin-top: 16px;
}

.css-1b1a75p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.css-oo74z7 {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 14px;
    color: rgb(95, 116, 141);
    margin-right: 8px;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}

.css-1fggd7d {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin: auto;
    flex-wrap: wrap;
}

.css-4ceid9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(108, 139, 159);
    margin: 0 5px;
    max-width: 200px;
}

.css-4ceid9> :not(style)+ :not(style) {
    margin: 4px 0px 0px;
}

@media (min-width: 0px) {
    .css-4ceid9 {
        width: 100%;
        margin-bottom: 8px;
    }
}

@media (min-width: 600px) {
    .css-4ceid9 {
        margin-bottom: 0px;
    }
}

.css-1noxpds {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(36, 153, 239);
}

.css-fhkckm {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(140, 141, 255);
}

.css-1nast56 {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(39, 206, 136);
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}

.css-1ln8k10 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(18, 31, 67, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1ln8k10:hover {
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1ln8k10:hover {
        background-color: transparent;
    }
}

.css-1yuhvjn {
    margin-top: 16px;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1pz0xmx {
    z-index: 1;
    padding: 10px;
    position: relative;
}

.css-ws1fna {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
}

.css-kmtz1r {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgba(18, 31, 67, 0.04);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    width: 100px;
    height: 100px;
}

.css-2qc4o9 {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    min-width: 20px;
    line-height: 1;
    padding: 0px 6px;
    height: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    bottom: 14%;
    right: 14%;
    transform: scale(1) translate(50%, 50%);
    transform-origin: 100% 100%;
}

.css-1ln8k10:hover {
    background-color: rgba(18, 31, 67, 0.04);
}

@media (hover: none) {
    .css-1ln8k10:hover {
        background-color: transparent;
    }
}

.css-1yuhvjn {
    margin-top: 16px;
}

.css-kipwca {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin: auto;
    flex-wrap: wrap;
}

.css-oo74z7 {
    -webkit-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 14px;
    color: rgb(95, 116, 141);
    margin-right: 8px;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}


.css-4ceid9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(108, 139, 159);
}

.css-4ceid9> :not(style)+ :not(style) {
    margin: 4px 0px 0px;
}

@media (min-width: 0px) {
    .css-4ceid9 {
        width: 100%;
        margin-bottom: 8px;
    }
}

@media (min-width: 600px) {
    .css-4ceid9 {
        margin-bottom: 0px;
    }
}

.css-1noxpds {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(36, 153, 239);
}

.css-fhkckm {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(140, 141, 255);
}

.css-1nast56 {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(39, 206, 136);
}

/*! CSS Used from: Embedded */
.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}

.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.css-1imspi1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(95, 116, 141);
}