.App {
  text-align: center;
  min-height: auto !important;
  padding: 1rem;
  font-family: Inter,system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
  overflow-x: hidden;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

@media screen and (max-width: 1000px) {
  .order-page-phone, .vacancy-page-phone {
      width: 100% !important;

      .phone-input-wrapper {
        width: 100% !important;
      }

      .st_BoxInline__az{
        width: 100%;
      }

      input {
        width: 100% !important;
      }
  }
  
}

.order-page-phone 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
