/*! CSS Used from: https://preview.cruip.com/mosaic/style.css */



.text-left {
    text-align: left;
}


:-moz-focusring {
    outline: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}

input:-ms-input-placeholder {
    opacity: 1;
    color: #9ca3af;
}

input::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

img,
svg {
    display: block;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

[type=search]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    /*--tw-ring-inset: var(--tw-empty, );*/
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    /*--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);*/
    /*--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);*/
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb;
}

input::-moz-placeholder {
    color: #6b7280;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #6b7280;
    opacity: 1;
}

input::placeholder {
    color: #6b7280;
    opacity: 1;
}

*,
::after,
::before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
}

.r {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    border-width: 1px;
    border-color: transparent;
    font-size: .875rem;
    line-height: 1.5715;
    font-weight: 500;
    line-height: 1.25rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    /*--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);*/
    /*box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);*/
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.r {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.s {
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-size: .875rem;
    line-height: 1.5715;
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
}

.s {
    border-radius: .25rem;
}

.s {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    line-height: 1.25rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    /*--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);*/
    /*box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);*/
}

.s:hover {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.s:focus {
    --tw-border-opacity: 1;
    border-color: rgb(165 180 252 / var(--tw-border-opacity));
}

.s::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184 / var(--tw-placeholder-opacity));
}

.s:-ms-input-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184 / var(--tw-placeholder-opacity));
}

.s::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(148 163 184 / var(--tw-placeholder-opacity));
}

.l::-webkit-scrollbar {
    display: none;
}

.l {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

* {
    --calendarPadding: 24px;
    --daySize: 36px;
    --daysWidth: calc(var(--daySize)*7);
}

.s:focus {
    /*--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);*/
    /*--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);*/
    /*box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);*/
}

.d {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.g {
    position: absolute;
}

.y {
    position: relative;
}

.b {
    position: -webkit-sticky;
    position: sticky;
}

.w {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.k {
    top: 0;
}

.j {
    right: auto;
}

.q {
    right: 0;
}

.te {
    bottom: 0;
}

.tf {
    left: 1rem;
}

.tm {
    top: 4rem;
}

.ty {
    top: 1rem;
}

.tk {
    z-index: 10;
}

.t_ {
    z-index: 20;
}

.-m-1 {
    margin: -.25rem;
}

.m-1 {
    margin: .25rem;
}

.nd {
    margin-left: -1rem;
    margin-right: -1rem;
}

.nv {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.ng {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.ml-3 {
    margin-left: .75rem;
}

.nq {
    margin-left: .5rem;
}

.nz {
    margin-left: .25rem;
}

.ri {
    margin-bottom: 1rem;
}

.mr-2 {
    margin-right: .5rem;
}

.ro {
    margin-bottom: .75rem;
}

.ru {
    margin-bottom: .5rem;
}

.ra {
    margin-right: .75rem;
}

.rc {
    margin-bottom: 2rem;
}

.rh {
    margin-bottom: 1.5rem;
}

.rb {
    margin-top: .5rem;
}

.rj {
    margin-left: -.25rem;
}

.rq {
    margin-top: -.25rem;
}

.it {
    margin-left: -.125rem;
}

.is {
    margin-right: 1.5rem;
}

.io {
    margin-top: 1rem;
}

.ih {
    margin-right: -1px;
}

.ib {
    margin-top: -4rem;
}

.st {
    box-sizing: content-box;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.sn {
    display: grid;
}

.so {
    height: 1.5rem;
}

.sa {
    height: 4rem;
}

.sf {
    height: 2rem;
}

.sl {
    height: 1rem;
}

.sc {
    height: .625rem;
}

.sh {
    height: 100%;
}

.sd {
    height: .25rem;
}

.sb {
    height: 14rem;
}

.sk {
    height: 1px;
}

.sq {
    height: calc(100vh - 64px);
}

.oi {
    width: 1.5rem;
}

.os {
    width: 2rem;
}

.oo {
    width: 1rem;
}

.ou {
    width: 100%;
}

.oa {
    width: .625rem;
}

.ub {
    flex-shrink: 0;
}

.uw {
    flex-grow: 1;
}

.translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ak {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.a_ {
    flex-wrap: nowrap;
}

.aj {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.fe {
    justify-content: space-between;
}

.fs {
    gap: 1rem;
}

.fc>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.fp>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(-.75rem * var(--tw-space-x-reverse));
    margin-left: calc(-.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.fy>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.fb>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.fw>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.fj>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.ll {
    overflow-y: auto;
}

.lc {
    overflow-x: hidden;
}

.lh {
    overflow-x: scroll;
}

.ld {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lm {
    white-space: nowrap;
}

.rounded-sm {
    border-radius: .125rem;
}

.rounded {
    border-radius: .25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.cr {
    border-width: 2px;
}

.border {
    border-width: 1px;
}

.ci {
    border-width: 4px;
}

.cs {
    border-bottom-width: 1px;
}

.cu {
    border-bottom-width: 2px;
}

.ca {
    border-right-width: 1px;
}

.border-slate-200 {
    --tw-border-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.cc {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.cx {
    --tw-border-opacity: 1;
    border-color: rgb(99 102 241 / var(--tw-border-opacity));
}

.ho {
    --tw-bg-opacity: 1;
    background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hu {
    --tw-bg-opacity: 1;
    background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.hl {
    --tw-bg-opacity: 1;
    background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}

.hd {
    --tw-bg-opacity: 1;
    background-color: rgb(16 185 129 / var(--tw-bg-opacity));
}

.hy {
    --tw-bg-opacity: 1;
    background-color: rgb(245 158 11 / var(--tw-bg-opacity));
}

.hx {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

.du {
    fill: currentColor;
}

.dy {
    -o-object-fit: cover;
    object-fit: cover;
}

.dw {
    padding: 1rem;
}

.dx {
    padding: .5rem;
}

.ve {
    padding: .375rem;
}

.vs {
    padding-left: 1rem;
    padding-right: 1rem;
}

.vu {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vc {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.vp {
    padding-left: .625rem;
    padding-right: .625rem;
}

.vd {
    padding-top: .125rem;
    padding-bottom: .125rem;
}

.me {
    padding-left: 2.25rem;
}

.mg {
    padding-bottom: .75rem;
}

.mk {
    padding-bottom: 2rem;
}

.gn {
    text-align: center;
}

.go {
    font-size: .75rem;
    line-height: 1.5;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.5715;
}

.gu {
    font-size: 1.5rem;
    line-height: 1.33;
    letter-spacing: -.01em;
}

.gh {
    font-weight: 600;
}

.gp {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.gv {
    text-transform: uppercase;
}

.gw {
    line-height: 1.25rem;
}

.text-slate-500 {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.gq {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}

.ye {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-indigo-500 {
    --tw-text-opacity: 1;
    color: rgb(99 102 241 / var(--tw-text-opacity));
}

.text-slate-800 {
    --tw-text-opacity: 1;
    color: rgb(30 41 59 / var(--tw-text-opacity));
}

.yn {
    --tw-text-opacity: 1;
    color: rgb(245 158 11 / var(--tw-text-opacity));
}

.text-indigo-50 {
    --tw-text-opacity: 1;
    color: rgb(238 242 255 / var(--tw-text-opacity));
}

.yy {
    --tw-text-opacity: 1;
    color: rgb(255 251 235 / var(--tw-text-opacity));
}

.bl {
    opacity: .8;
}

.bv {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    /*--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);*/
    /*box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);*/
}

.wn {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.wr {
    transition-duration: .2s;
}

.wi {
    transition-duration: 150ms;
}

.wo {
    transition-duration: .3s;
}

.wu {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.wb:first-child {
    padding-left: 1rem;
}

.last--mr-0:last-child {
    margin-right: 0;
}

.wj:last-child {
    padding-right: 1rem;
}

.hover--border-slate-300:hover {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.xi:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.hover--text-slate-600:hover {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}

.xh:hover {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.xj:hover {
    opacity: 1;
}

.xq:focus {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.kk:hover .kj {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

@media (min-width:640px) {
    ._u {
        left: 1.5rem;
    }

    ._m {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    ._y {
        margin-bottom: 0;
    }

    ._x {
        margin-bottom: .75rem;
    }

    ._k {
        margin-bottom: .5rem;
    }

    .__ {
        margin-left: .5rem;
    }

    ._j {
        margin-top: 0;
    }

    .je {
        display: flex;
    }

    .js {
        flex-grow: 1;
    }

    .ja {
        flex-direction: row;
    }

    .jl {
        align-items: flex-end;
    }

    .jc {
        align-items: center;
    }

    .jh {
        justify-content: flex-start;
    }

    .jp {
        justify-content: flex-end;
    }

    .jd {
        justify-content: space-between;
    }

    .jj {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .qe {
        text-align: left;
    }

    .qr:first-child {
        padding-left: 1.5rem;
    }

    .qi:last-child {
        padding-right: 1.5rem;
    }
}

@media (min-width:768px) {
    .qo {
        position: static;
    }

    .qf {
        top: auto;
    }

    .ql {
        bottom: auto;
    }

    .qz {
        display: none;
    }

    .zt {
        width: auto;
    }

    .zo {
        width: 18rem;
    }

    .za {
        --tw-translate-x: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}

@media (min-width:1024px) {
    .tem {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    .ttx:first-child {
        padding-left: 2rem;
    }

    .ttk:last-child {
        padding-right: 2rem;
    }
}

@media (min-width:1280px) {
    .tnc {
        margin-bottom: 0;
    }

    .tny {
        width: 20rem;
    }

    .tnw {
        width: 14rem;
    }

    .tnx {
        min-width: 14rem;
    }

    .tnj {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .tnq {
        flex-direction: row;
    }

    .trn>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(4rem * var(--tw-space-x-reverse));
        margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
    }
}