<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div>
        <h2 class="text-slate-800 gh ru">Work History</h2>
        <div class="bg-white dw border border-slate-200 rounded-sm bv">
            <ul class="fw">
                <li class="je jc jd">
                    <div class="js flex items-center text-sm">

                        <div class="os sf rounded-full ub hy ng ra">
                            <svg class="os sf du yy" viewBox="0 0 32 32">
                                <path d="M21 14a.75.75 0 0 1-.75-.75 1.5 1.5 0 0 0-1.5-1.5.75.75 0 1 1 0-1.5 1.5 1.5 0 0 0 1.5-1.5.75.75 0 1 1 1.5 0 1.5 1.5 0 0 0 1.5 1.5.75.75 0 1 1 0 1.5 1.5 1.5 0 0 0-1.5 1.5.75.75 0 0 1-.75.75Zm-7 10a1 1 0 0 1-1-1 4 4 0 0 0-4-4 1 1 0 0 1 0-2 4 4 0 0 0 4-4 1 1 0 0 1 2 0 4 4 0 0 0 4 4 1 1 0 0 1 0 2 4 4 0 0 0-4 4 1 1 0 0 1-1 1Z"></path>
                            </svg>
                        </div>

                        <div>
                            <div class="gp text-slate-800">Senior Product Designer</div>
                            <div class="flex a_ items-center fc lm">
                                <div>Remote</div>
                                <div class="gq">·</div>
                                <div>April, 2020 - Today</div>
                            </div>
                        </div>
                    </div>

                    <div class="__ rb _j">
                        <ul class="flex flex-wrap jp -m-1">
                            <li class="m-1">
                                <button class="inline-flex items-center justify-center go gp gw rounded-full vp vd border border-slate-200 hover--border-slate-300 bv bg-white text-slate-500 wi wu">Marketing</button>
                            </li>
                            <li class="m-1">
                                <button class="inline-flex items-center justify-center go gp gw rounded-full vp vd border border-slate-200 hover--border-slate-300 bv bg-white text-slate-500 wi wu">+4</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>