<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./style.css" type="text/css" rel="stylesheet" />
</head>

<body>


    <div class="app-content content overflow-hidden todo-application">
      
        <div class="content-area-wrapper container-xxl p-0">
            <div class="content-right">
                <div class="content-wrapper">
                    <div class="content-body">
            
                        <div class="todo-app-list">
                            <div class="app-fixed-search d-flex align-items-center">
                                <div class="sidebar-toggle cursor-pointer d-block d-lg-none ms-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="3" y1="12" x2="21" y2="12"></line>
                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                        <line x1="3" y1="18" x2="21" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="d-flex align-content-center justify-content-between w-100">
                                    <div class="input-group-merge input-group"><span class="input-group-text"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                class="text-muted">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg></span><input placeholder="Search task" type="text" class="form-control" value="" /></div>
                                </div>
                                <div class="dropdown"><a href="/" aria-haspopup="true" class="hide-arrow me-1" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="text-body">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg>
                                    </a>
                                    <div tabIndex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-end"><a
                                            tabIndex="0" role="menuitem" class="dropdown-item"
                                            href="/demo/vuexy-react-admin-dashboard-template/demo-1/">Sort A-Z</a><a tabIndex="0"
                                            role="menuitem" class="dropdown-item"
                                            href="/demo/vuexy-react-admin-dashboard-template/demo-1/">Sort
                                            Z-A</a><a tabIndex="0" role="menuitem" class="dropdown-item"
                                            href="/demo/vuexy-react-admin-dashboard-template/demo-1/">Sort Assignee</a><a tabIndex="0"
                                            role="menuitem" class="dropdown-item"
                                            href="/demo/vuexy-react-admin-dashboard-template/demo-1/">Sort Due Date</a><a tabIndex="0"
                                            role="menuitem" class="dropdown-item"
                                            href="/demo/vuexy-react-admin-dashboard-template/demo-1/">Reset
                                            Sort</a></div>
                                </div>
                            </div>
                            <div class="scrollbar-container list-group todo-task-list-wrapper ps ps--active-y">
                                <ul class="todo-task-list media-list">
                                    <li class="todo-item" data-id="18-0">
                                        <div class="todo-title-wrapper">
                                            <div class="todo-title-area">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="drag-icon">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                                <div class="form-check"><input id="Fix Responsiveness for new structure 💻" type="checkbox"
                                                        class="form-check-input"></div>
                                                <span class="todo-title">Fix Responsiveness for new structure 💻</span>
                                            </div>
                                            <div class="todo-item-action mt-lg-0 mt-50">
                                                <div class="badge-wrapper me-1"><span
                                                        class="text-capitalize badge bg-light-success rounded-pill">low</span></div>
                                                <small class="text-nowrap text-muted me-1">нояб. 18</small>
                                                <div class="avatar"><img class=""
                                                        src="/demo/vuexy-react-admin-dashboard-template/demo-1/static/media/avatar-s-9.e2785e7a.jpg"
                                                        alt="avatarImg" height="32" width="32"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="todo-item" data-id="18-0">
                                        <div class="todo-title-wrapper">
                                            <div class="todo-title-area">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="drag-icon">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                                <div class="form-check"><input id="Fix Responsiveness for new structure 💻" type="checkbox"
                                                        class="form-check-input"></div>
                                                <span class="todo-title">Fix Responsiveness for new structure 💻</span>
                                            </div>
                                            <div class="todo-item-action mt-lg-0 mt-50">
                                                <div class="badge-wrapper me-1"><span
                                                        class="text-capitalize badge bg-light-success rounded-pill">low</span></div>
                                                <small class="text-nowrap text-muted me-1">нояб. 18</small>
                                                <div class="avatar"><img class=""
                                                        src="/demo/vuexy-react-admin-dashboard-template/demo-1/static/media/avatar-s-9.e2785e7a.jpg"
                                                        alt="avatarImg" height="32" width="32"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="todo-item" data-id="18-0">
                                        <div class="todo-title-wrapper">
                                            <div class="todo-title-area">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="drag-icon">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                                <div class="form-check"><input id="Fix Responsiveness for new structure 💻" type="checkbox"
                                                        class="form-check-input"></div>
                                                <span class="todo-title">Fix Responsiveness for new structure 💻</span>
                                            </div>
                                            <div class="todo-item-action mt-lg-0 mt-50">
                                                <div class="badge-wrapper me-1"><span
                                                        class="text-capitalize badge bg-light-success rounded-pill">low</span></div>
                                                <small class="text-nowrap text-muted me-1">нояб. 18</small>
                                                <div class="avatar"><img class=""
                                                        src="/demo/vuexy-react-admin-dashboard-template/demo-1/static/media/avatar-s-9.e2785e7a.jpg"
                                                        alt="avatarImg" height="32" width="32"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="todo-item" data-id="18-0">
                                        <div class="todo-title-wrapper">
                                            <div class="todo-title-area">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="drag-icon">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                                <div class="form-check"><input id="Fix Responsiveness for new structure 💻" type="checkbox"
                                                        class="form-check-input"></div>
                                                <span class="todo-title">Fix Responsiveness for new structure 💻</span>
                                            </div>
                                            <div class="todo-item-action mt-lg-0 mt-50">
                                                <div class="badge-wrapper me-1"><span
                                                        class="text-capitalize badge bg-light-success rounded-pill">low</span></div>
                                                <small class="text-nowrap text-muted me-1">нояб. 18</small>
                                                <div class="avatar"><img class=""
                                                        src="/demo/vuexy-react-admin-dashboard-template/demo-1/static/media/avatar-s-9.e2785e7a.jpg"
                                                        alt="avatarImg" height="32" width="32"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="todo-item" data-id="18-0">
                                        <div class="todo-title-wrapper">
                                            <div class="todo-title-area">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="drag-icon">
                                                    <circle cx="12" cy="12" r="1"></circle>
                                                    <circle cx="12" cy="5" r="1"></circle>
                                                    <circle cx="12" cy="19" r="1"></circle>
                                                </svg>
                                                <div class="form-check"><input id="Fix Responsiveness for new structure 💻" type="checkbox"
                                                        class="form-check-input"></div>
                                                <span class="todo-title">Fix Responsiveness for new structure 💻</span>
                                            </div>
                                            <div class="todo-item-action mt-lg-0 mt-50">
                                                <div class="badge-wrapper me-1"><span
                                                        class="text-capitalize badge bg-light-success rounded-pill">low</span></div>
                                                <small class="text-nowrap text-muted me-1">нояб. 18</small>
                                                <div class="avatar"><img class=""
                                                        src="/demo/vuexy-react-admin-dashboard-template/demo-1/static/media/avatar-s-9.e2785e7a.jpg"
                                                        alt="avatarImg" height="32" width="32"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                    <div class="ps__thumb-x" tabIndex="0" style="left: 0px; width: 0px;"></div>
                                </div>
                                <div class="ps__rail-y" style="top: 0px; height: 884px; right: 1px;">
                                    <div class="ps__thumb-y" tabIndex="0" style="top: 0px; height: 749px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

</body>

</html>